@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Lato&display=swap");

* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1 {
  background: tomato !important;
  text-align: center;
  color: #fff;
  padding: 1%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

.regard {
  color: black;
  /* color: #666; */
  /* color:rgb(255, 99, 71); */
  font-size: 5vw;
  text-align: left;
  margin: 4% 0%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




h1:hover {
  color: black;
  transition: linear 0.3s;
}

.bar {
  height: 5px;
  border-radius: 3px;
  align-items: center;
  margin: 0px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}



@keyframes example {
  0% {
    background-color: tomato;
    left: 0px;
    top: 0px;
  }

  50% {
    background-color: black;
    left: 0px;
    top: 0px;
  }

  100% {
    background-color: tomato;
    left: 0px;
    top: 0px;
  }
}


.hero-section {

  display: flex;
  padding: 5px;
  justify-content: center;

}

.hero-section div {
  width: 40%;
  font-size: 1.2vw;;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;

}

.focus-input {
  outline: none;
  display: flex;
  justify-content: center;
  margin: 3%;
}

.focus-input input {
  font-size: 20px;
  border: none;
  border-bottom: 2px solid tomato;
}

.focus-input input:focus {
  outline: none;
  font-size: 25px;
  transition: linear 0.1s;
}

.focus-input input::placeholder:hover {
  font-size: 22px;
}

.crazy-cube {
  display: flex;
  justify-content: center;  
}

.fig {
  padding: 20px;
  display: flex;
  justify-content: center;
  border: none;
  
}

.fig img {
  width: 100%;
}

/* Box Sizing */
.scene {
  width: 200px;
  height: 200px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0 0 0 / 30%);
  margin: 80px;
  perspective: 400px;

}



.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
}

.cube-controls {
  display: none;
}
.cube.is-spinning {
  animation: spinCube 8s infinite ease-in-out;
}

@keyframes spinCube {
    0% { transform: translateZ(-100px) rotateX(  0deg) rotateY(  0deg); }
  100% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg); }
}

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.cube__face--front  { background: hsla(  0, 100%, 50%, 0.7); }
.cube__face--right  { background: hsla( 60, 100%, 50%, 0.7); }
.cube__face--back   { background: hsla(120, 100%, 50%, 0.7); }
.cube__face--left   { background: hsla(180, 100%, 50%, 0.7); }
.cube__face--top    { background: hsla(240, 100%, 50%, 0.7); }
.cube__face--bottom { background: hsla(300, 100%, 50%, 0.7); }

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }

.cube.is-backface-hidden .cube__face {
  backface-visibility: hidden;
}


footer {
  padding: 5%;
  background-color: rgb(36, 35, 35);
  display: flex;
  justify-content: center;
  color: rgb(233, 229, 229);
  font-size: x-large;
}

.para {
  display: block;
  width: 90%;
  padding: 3px;
  justify-content: center;
  border-radius: 6px;
 
  margin: 80px;
  /* perspective: 400px; */
}

.para::after {
  content: " <- EXCITING!";
  color: green;
}

button {
  width: 10%;
  padding: 10px;
  background-color: tomato;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 6px;
  margin-bottom: 5%;
  font-style: italic;
  font-weight: bolder;
  outline: none;
  
}



button:active {
  background-color: black;
  position: relative;
  position: center;
  transition: 0.2s;
}
.para::first-letter {
  font-size: 400%;
  color: tomato;
}


@media only screen and (max-width: 1000px) {
  body {
    background-color: tomato;
  }
}

.padd{
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  /* padding: 25px 50px 75px 100px; TOP RIGTH BOTTON LEFT*/ 
}

.tamaño{
  height: 200px;
  width: 50%;
  background-color: aliceblue;
}

.text{
  padding-left: 20px;
  padding-right: 20px;
  /* text-align: center; */
  text-align: right;
  /* text-align: left; */
}